{%extends "templates/layout/base_frontend.html"%}
{%block javascript%}
  {%include "templates/javascripts/mensajes_save.js"%}
{%endblock%}
{%block header_title%} {{L.nombre}} {%endblock%}
{%block nav_menu%}{%endblock%}
{%block title%} {{L.nombre}} {%endblock%}
{%block content%}

  {%if mayor50%}
  <div class="alert alert-success">
    {{mayor50}}
  </div>
  {%endif%}

  {%if entre10_50%}
  <div class="alert alert-warning">
    {{entre10_50}}
  </div>
  {%endif%}

  {%if menor10%}
  <div class="alert alert-danger">
    {{menor10}}
  </div>
  {%endif%}

  <form method="post" action="/portal/espectaculos/comprar/{{L.id}}">
    {%csrf_token%}

    <table class = "table  table-hover" border="0">
      <thead>

      </thead>

      <tbody>

          <tr>
            <td>
              <b>Nombre:</b>
            </td>
            <td>
              {{L.nombre}}
            </td>
          </tr>

          <tr>
            <td>
              <b>Categor&iacute;a:</b>
            </td>
            <td>
              {{L.Categoria.nombre}}
            </td>
          </tr>

          <tr>
            <td>
              <b>Descripci&oacute;n:</b>
            </td>
            <td>
              {{L.descripcion}}
            </td>
          </tr>

          <tr>
            <td>
              <b>Lugar:</b>
            </td>
            <td>
              {{L.Lugar.nombre}}
            </td>
          </tr>

          <tr>
            <td>
              <b>Fecha:</b>
            </td>
            <td>
              {{L.fecha.date}}
            </td>
          </tr>

          <tr>
            <td>
              <b>Hora:</b>
            </td>
            <td>
              {{L.fecha.time}}
            </td>
          </tr>

          <tr>
            <td>
              <b>Detalle:</b>
            </td>
            <td>
              {{L.detalle}}
            </td>
          </tr>

          <tr>
            <td>
              <b>D&iacute;as restantes para el inicio:</b>
            </td>
            <td>
              {{L.diasInicio}}
            </td>
          </tr>

          <tr>
            <td>
              <b>Entradas vendidas:</b>
            </td>
            <td>
              {{vendidas}}
            </td>
          </tr>

          <tr>
            <td>
              <b>Entradas restantes:</b>
            </td>
            <td>
              {{restantes}}
            </td>
          </tr>
      </tbody>
    </table>

    <button type="button" class="btn btn-default" onclick="javascript:window.location.href = '/portal/espectaculos/'">Volver</button>
    {%if restantes > 0%}
      <button type="button" class="btn btn-default pull-right" onclick="javascript:window.location.href = '/portal/telefono/{{L.id}}'">Comprar</button>
    {%endif%}
  </form>
{%endblock%}
