<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="estilosGenerales.css">
  {%block css%}
    {%include "templates/css/estilosGenerales.css"%}
  {%endblock%}
  <script type="text/javascript">
    $(document).ready(function(){
      (function() {
          $('.footer').css('position', $(document).height() > $(window).height() ? "inherit" : "fixed");
      })();
    });
  </script>

  <meta charset="utf-8">
  <title>{%block header_title%}{%endblock%}</title>
  {%block javascript%} {%endblock%}
</head>
<body>
  <div class="container">
    <div class="header">
      {#inicio bloque header#}
      {%block header%}
        <!-- <h1>HEADER APP</h1>-->
        {%block nav_menu_nologueado%}
          <nav class="navbar">
            <div class="container-fluid">
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/back_end/signin" class="texto">Iniciar Sesi&oacute;n<span class="sr-only texto">(current)</span></a></li>
                  <li><a href="/back_end/registrar" class="texto">Registrarse<span class="sr-only texto">(current)</span></a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        {%endblock%}<!-- nav -->
        {%block nav_menu%}
          <nav class="navbar">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <a class="navbar-brand texto glyphicon glyphicon-home" href="/back_end/" style="color:white"></a>
                <!--<img alt="Brand" src="ticket.jpg">-->
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="/back_end/categorias" class="texto">Categor&iacute;as<span class="sr-only texto">(current)</span></a></li>
                  <li><a href="/back_end/lugares" class="texto">Lugares<span class="sr-only">(current)</span></a></li>
                  <li><a href="/back_end/eventos" class="texto">Eventos<span class="sr-only">(current)</span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/back_end/signout" class="texto">Cerrar Sesi&oacute;n {{ user.get_username }}<span class="sr-only texto">(current)</span></a></li>
                </ul>
                {%block nav_search%}
                  {%include "layout/search.html"%}
                {%endblock%}
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
        {%endblock%}<!-- nav -->
      {%endblock%}<!-- header -->
      {#fin bloque header#}
    </div>
    <h2><span>{%block title%}{%endblock%}</span></h2>
    <br>
    {#inicio bloque content#}
    {%block content%}
      {%block pagination%}
        {%include "layout/pagination.html"%}
      {%endblock%}
    {%endblock%}
    {#fin bloque content#}
    <div class="footer">
      {#inicio bloque footer#}
      {%block footer%}
        <br>
        <h5>Obligatorio Python 2016 - Sisinfo - Pablo Perdomo y Manuela Viola</h5>
      {%endblock%}
      {#fin bloque footer#}
    </div>
  </div>
</body>
</html>
