{%extends "templates/layout/base.html"%}
{%block javascript%}
  {%include "templates/javascripts/mensajes.js"%}
{%endblock%}
{%block nav_menu_nologueado%}{%endblock%}
{%block header_title%}Lugares{%endblock%}
{%block title%} Lugares{%endblock%}
{%block content%}
<table class="table table-hover">
  <thead>
    <th>
      C&oacute;digo
    </th>
    <th>
      Nombre
    </th>
    <th>
      Direcci&oacute;n
    </th>
    <th>
      Tel&eacute;fono
    </th>
    <th>
      <a href="/back_end/lugares/save/" title ="Agregar Lugar"><span class="glyphicon glyphicon-plus pull-right"></span></a>
    </th>
  </thead>
  {# {%sentencias$} {{variabes}} #}
  {%for L in rows%}
  <tbody>
    <tr>
      <td>
        {{L.codigo}}
      </td>
      <td>
        {{L.nombre}}
      </td>
      <td>
        {{L.direccion}}
      </td>
      <td>
        {{L.telefono}}
      </td>
      <td>
        <a href="/back_end/lugares/save/{{L.id}}"><span class="glyphicon glyphicon-edit" title="Editar {{L.nombre}}"></span></a>
        <a class="borrar" id="{{L.id}}" href="/back_end/lugares/delete/{{L.id}}" onclick="return confirm('Seguro que desea eliminar el lugar {{L.codigo}} - {{L.nombre}}?');"><span class="glyphicon glyphicon-trash" title="Eliminar {{L.nombre}}"></span></a>
      </td>
    </tr>
  </tbody>
  {%endfor%}
</table>
{{block.super}}
{%endblock%}
