{%extends "templates/layout/base.html"%}
{%block javascript%}
  {%include "templates/javascripts/mensajes.js"%}
{%endblock%}
{%block header_title%}Categor&iacute;as{%endblock%}
{%block title%} Categor&iacute;as{%endblock%}
{%block content%}
  <table class="table table-hover">
    <thead>
      <th>
        C&oacute;digo
      </th>
      <th>
        Nombre
      </th>
      <th>
        <a href="/back_end/categorias/save/" title ="Agregar Categor&iacute;a"><span class="glyphicon glyphicon-plus pull-right"></span></a>
      </th>
    </thead>
    {# {%sentencias$} {{variabes}} #}
    {%for C in rows%}
    <tbody>
      <tr>
        <td>
          {{C.codigo}}
        </td>
        <td>
          {{C.nombre}}
        </td>
        <td>
          <a href="/back_end/categorias/save/{{C.id}}"><span class="glyphicon glyphicon-edit" title="Editar {{C.nombre}}"></span></a>
          <a class="borrar" id="{{C.id}}" href="/back_end/categorias/delete/{{C.id}}" onclick="return confirm('Seguro que desea eliminar la categor&iacute;a {{C.codigo}} - {{C.nombre}}?');"><span class="glyphicon glyphicon-trash" title="Eliminar {{C.nombre}}"></span></a>
        </td>
      </tr>
    </tbody>
    {%endfor%}
  </table>
  {{block.super}}
  {%endblock%}
