{%extends "templates/layout/base.html"%}
{%block javascript%}
  {%include "templates/javascripts/mensajes.js"%}
  <script type = "text/javascript">
			window.onload = function() {

          var table = document.getElementById('tabla');
          for (var r = 0, n = table.rows.length; r < n; r++) {
                  table.rows[r].insertCell(3);
                  if (r == 0) {
                    table.rows[r].cells[3].innerHTML =  "Cantidad de Asientos";
                    var tableHead = document.getElementById("tabla").getElementsByTagName("thead")[0];
                    tableHead.style.fontWeight = "bold";
                  } else {
                    table.rows[r].cells[3].innerHTML =  {{asientos}}[r-1] ;
                  }

          }

			}
		</script>
{%endblock%}
{%block header_title%}Sectores{%endblock%}
{%block title%} Sectores del lugar "{{lugar.nombre}}"{%endblock%}
{%block content%}
<table class="table table-hover" id="tabla">
  <thead>
    <th>
      #
    </th>
    <th>
      C&oacute;digo
    </th>
    <th>
      Nombre
    </th>
    <th>
      <a href="/sectores/save{{lugar.id}}/" title ="Agregar Sector"><span class="glyphicon glyphicon-plus pull-right"></span></a>
    </th>
  </thead>
  {# {%sentencias$} {{variabes}} #}
  {%for S in rows%}
  <tbody>
    <tr>
      <td>
        {{S.id}}
      </td>
      <td>
        {{S.codigo}}
      </td>
      <td>
        {{S.nombre}}
      </td>
      <td id="asientos{{S.id}}">
        <!-- intento llenar con javascript-->
      </td>
      <td>
        <a href="/sectores/save{{lugar.id}}/{{S.id}}"><span class="glyphicon glyphicon-edit" title="Editar {{S.nombre}}"></span></a>
        <a class="borrar" id="{{S.id}}" href="/sectores/delete{{lugar.id}}/{{S.id}}" onclick="return confirm('Seguro que desea eliminar el Sector {{S.codigo}} - {{S.nombre}}?');"><span class="glyphicon glyphicon-trash" title="Eliminar {{S.nombre}}"></span></a>
      </td>
    </tr>
  </tbody>
  {%endfor%}
</table>
{{block.super}}
{%endblock%}
