{%extends "templates/layout/base.html"%}
{%block javascript%}
  {%include "templates/javascripts/mensajes.js"%}
{%endblock%}
{%block header_title%}Entradas{%endblock%}
{%block title%} Entradas del Evento "{{evento.nombre}}"{%endblock%}
{%block content%}
<table class="table table-hover">
  <thead>
    <th>
      Tel&eacute;fono
    </th>
    <th>
      Documento
    </th>
    <th>
      Usada
    </th>
    <th>
      Asiento
    </th>
    <th>
      <a href="/back_end/eventos/{{evento.id}}/entradas/save" title ="Agregar Entrada"><span class="glyphicon glyphicon-plus pull-right"></span></a>
    </th>
  </thead>
  {# {%sentencias$} {{variabes}} #}
  {%for E in rows%}
  <tbody>
    <tr>
      <td>
        {{E.telefono}}
      </td>
      <td>
        {{E.documento}}
      </td>
      <td>
        {{E.usada}}
      </td>
      <td>
        {{E.Asiento.Sector.nombre}} - Asiento {{E.Asiento.numero}}
      </td>
      <td>
        <a href="/back_end/eventos/{{evento.id}}/entradas/save/{{E.id}}"><span class="glyphicon glyphicon-edit" title="Editar Entrada {{E.Asiento.numero}}"></span></a>
        <a class="borrar" id="{{E.id}}" href="/back_end/eventos/{{evento.id}}/entradas/delete/{{E.id}}" onclick="return confirm('Seguro que desea eliminar la entrada {{E.Asiento.Sector.nombre}} - Asiento {{E.Asiento.numero}}?');"><span class="glyphicon glyphicon-trash" title="Eliminar Entrada {{E.Asiento.Sector.nombre}} - Asiento {{E.Asiento.numero}}"></span></a>
      </td>
    </tr>
  </tbody>
  {%endfor%}
</table>
{{block.super}}
{%endblock%}
