{%extends "templates/layout/base.html"%}
{%block javascript%}
  {%include "templates/javascripts/mensajes.js"%}
{%endblock%}
{%block header_title%}Precios de Entradas{%endblock%}
{%block title%} Precios de Entradas del Evento "{{evento.nombre}}" {%endblock%}
{%block content%}
<table class="table table-hover">
  <thead>
    <th>
      Sector
    </th>
    <th>
      Precio
    </th>
    <th>
      <a href="/preciosentradas/save/{{evento.id}}/" title ="Agregar Precio de Entrada"><span class="glyphicon glyphicon-plus pull-right"></span></a>
    </th>
  </thead>
  {# {%sentencias$} {{variabes}} #}
  {%for PE in rows%}
  <tbody>
    <tr>
      <td>
        {{PE.Sector.nombre}}
      </td>
      <td>
        {{PE.precio}}
      </td>
      <td>
        <a href="/preciosentradas/save/{{evento.id}}/{{PE.id}}"><span class="glyphicon glyphicon-edit" title="Editar {{PE.nombre}}"></span></a>
        <a class="borrar" id="{{PE.id}}" href="/preciosentradas/delete/{{evento.id}}/{{PE.id}}" onclick="return confirm('Seguro que desea eliminar el Precio de Entrada del Sector {{PE.Sector.nombre}}?');"><span class="glyphicon glyphicon-trash" title="Eliminar {{PE.nombre}}"></span></a>
      </td>
    </tr>
  </tbody>
  {%endfor%}
</table>
{{block.super}}
{%endblock%}
